# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Build outputs
build/

# Dependency and package files
.packages
pubspec.lock

# IDE-specific files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Coverage output
coverage/